body {
  font-family: sans-serif;
  text-align: center;
  padding: 3rem;
  font-size: 1.125rem;
  line-height: 1.5;
  transition: all 725ms ease-in-out;
}

h1 {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

p {
  margin-bottom: 1rem;
  color: tomato;
}

button {
  cursor: pointer;
  appearance: none;
  border-radius: 4px;
  font-size: 1.25rem;
  padding: 0.75rem 1rem;
  border: 1px solid navy;
  background-color: dodgerblue;
  color: white;
}

#template {
  background: #eee;
  padding: 14px;
  margin: 0;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 1px 1px 41px 1px inset;
}
