<div>
  <form>
    <div>
      <ng-content select="h1"></ng-content>
      <input type="text" placeholder="username" />
    </div>

    <div>
      <input type="text" placeholder="password" />
    </div>

    <div>
      <ng-content select="button"></ng-content>
    </div>
  </form>
</div>

<!-- <div class="container">
  <div class="col-md-4 offset-4 mt-2 card">
    <div class="card-body">
      <h1 class="display-5 text-center text-uppercase">Login</h1>
      <form #form="ngForm" (ngSubmit)="submit(form)">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            ngModel
            name="username"
            #username="ngModel"
            (change)="log(username)"
            placeholder="enter username"
            class="form-control"
            required
            minlength="3"
            maxlength="10"
          />
          <div
            *ngIf="username.touched && username.invalid"
            class="alert alert-danger text-danger mt-2"
          >
            <p *ngIf="username.errors.required">username is required</p>
            <p *ngIf="username.errors.minlength">
              username should be minimum 3 characters
            </p>
          </div>
          ---------------validation----------
        </div>

        <div class="form-group">
          <label for="password">password</label>
          <input
            type="password"
            id="password"
            name="password"
            placeholder="enter password"
            class="form-control"
            required
            minlength="3"
            ngModel
            #password="ngModel"
          />
          <div
            *ngIf="password.touched && password.invalid"
            class="alert alert-danger text-danger mt-2"
          >
            <p *ngIf="password.errors.required">password is required</p>
            <p *ngIf="password.errors.minlength">
              password should be minimum 3 characters
            </p>
          </div>
        </div>

        <div class="form-group">
          <button class=" btn btn-success btn-block" [disabled]="!form.valid">
            Login
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- <div class="col-md-4 offset-4 card mt-4">
  <div class="card-body">
    <h1 class="text-center">{{ "This is User " + login }}</h1>
    <form>
      <div class="form-group">
        <label for="user-name">Username</label>
        <input type="text" class="form-control" id="username" />
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" />
      </div>

      <div class="form-group">
        <button class="btn btn-block btn-success">Login</button>
      </div>
    </form>
  </div>
</div> -->
