<app-header></app-header>

<app-api></app-api>

<!-- <app-home></app-home> -->

<!-- <app-register></app-register> -->

<!-- <app-form-builder></app-form-builder> -->

<!-- <app-students></app-students> -->

<!-- <app-contact></app-contact> -->

<!-- <div class="container">
  <app-simple></app-simple>
</div> -->

<!-- <div class="container">
  <courses></courses>
</div> -->

<!-- <div class="container">
  <router-outlet></router-outlet>
</div> -->

<!-- <app-users></app-users> -->

<!-- <app-employee></app-employee> -->

<!-- <div class="container">
  <app-employee></app-employee>
</div> -->
